
#background {
    height: 725px;
}
        
body {
    background-color: #fcfbfb; 
}

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
   
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}
       
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    

.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
footer p {
    font-size: 1.2em;
}    
                   
footer p a:hover {
    text-decoration: underline;
}    
   
/* 10/14 assignment    */

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}

.book, .join {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
}

.msg p {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: .8em;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
  }

footer {
    background-color: #6f7364;
    line-height: 1.5em;
  }

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}

#logo_link   {
    padding-top: 5px;
}

nav a   {
    padding: 35px;
}
.book, .join   {
    padding: 15px 30px;
}

.icon   {
    padding-top: 10px;
}

.msg   {
    padding: 35px;
}

.msg p   {
    padding-bottom: 15px;
}

footer   {
    padding: 25px 50px;
}

footer .social img  {
    padding-top: 15px;
}

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

.home-title   {
    margin-top: 10px;
}

.book, .join   {
    margin-top: 50px;
}

.rivers-card, .camping-card, .rapids-card   {
    margin: 200px 0;
}

footer   {
    margin-top: 200px;
}

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}

footer, a {
    color: #d9c2a3;
}

.blank-background {
    background-color: #d9c2a3;
    margin-top: 200px;
    padding: 200px;
}
.blank-background, p{
    color:#d9c2a3;
}